<footer class="footer">
  <div class="container footer-grid">
    <div class="footer-col footer-col--brand">
      <h3 class="footer-brand">
        <img class="footer-brand__logo" data-src="logo" src="" alt="" />
        <span data-text="brandTitle"></span>
      </h3>
      <p data-text="address"></p>
    </div>
    <div class="footer-col footer-col--menu">
      <h3 data-text="menuTitle"></h3>
      <ul>
        <li><a data-link="home" data-text="navHome" href="./"></a></li>
        <li><a data-link="sources" data-text="navSources" href="./sections/sources/"></a></li>
        <li><a data-link="services" data-text="navServices" href="./sections/services/"></a></li>
        <li><a data-link="projects" data-text="navProjects" href="./sections/projects/"></a></li>
        <li><a data-link="blog" data-text="navBlog" href="./sections/blog/"></a></li>
        <li><a data-link="contacts" data-text="navContacts" href="./sections/contacts/"></a></li>
      </ul>
    </div>
    <div class="footer-col footer-col--contacts">
      <h3 data-text="contactsTitle"></h3>
      <p><a href="tel:+79600851803">+7 (960) 085-18-03</a></p>
      <p><a href="mailto:info@plasma-instrument.com">info@plasma-instrument.com</a></p>
    </div>
  </div>
  <div class="container footer-bottom">
    <p data-text="copyrightText"></p>
  </div>
</footer>
